//font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

//color variables
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);
$veryDarkBlue: hsl(234, 12%, 34%);
$grayishBlue: hsl(229, 6%, 66%);
$veryLightGray: hsl(0, 0%, 98%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 0.9375rem;
  color: $grayishBlue;
  background-color: $veryLightGray;
  min-height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .heading-container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    > * {
      text-align: center;
    }
    h1 {
      color: $veryDarkBlue;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      span:first-child {
        font-weight: 200;
      }
      span:last-child {
        font-weight: 600;
      }
    }
    p {
      font-size: 0.94rem;
      font-weight: 400;
      margin: 1rem 1.8rem;
      line-height: 1.5rem;
    }
  }
  .card-container {
    margin-top: 1rem;
    padding: 1.8rem 1.8rem 0 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .card {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: white;
      border-radius: 0.5rem;
      box-shadow: 0 0.6rem 1rem rgba($veryDarkBlue, 0.15);
      margin: 0.75rem 0;
      position: relative;
      overflow: hidden;
      padding: 1.85rem;
      min-height: 13.875rem;
      h3 {
        font-size: 1.25rem;
        color: $veryDarkBlue;
      }
      p {
        font-size: 0.8rem;
        line-height: 1.4rem;
        margin-top: 0.35rem;
      }
      img {
        width: 3.5rem;
        height: 3.5rem;
        align-self: flex-end;
        margin-top: auto;
      }
    }
    .card::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 1.675%;
    }
    .supervisor-card::after {
      background-color: $cyan;
    }
    .team-card::after {
      background-color: $red;
    }
    .karma-card::after {
      background-color: $orange;
    }
    .calculator-card::after {
      background-color: $blue;
    }
  }
}
footer {
  text-align: center;
  font-size: 0.7rem;
  font-weight: 400;
  margin: 0.5rem 0;
  p {
    color: $grayishBlue;
    margin-bottom: 0.2rem;
    span:last-child {
      display: block;
    }
  }
  i {
    font-size: 0.9rem;
  }
  a {
    color: $grayishBlue;
  }
  a:hover {
    color: $veryDarkBlue;
    transition: 700ms;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  html {
    font-size: 3.2vw;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1140px) {
  html {
    font-size: 1.4vw;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    min-width: 69.375rem;
    min-height: 36.5rem;
    // padding: 0;

    .heading-container {
      width: 31.875rem;
      margin-top: 0;
      h1 {
        font-size: 2.3rem;
      }
      p {
        margin-left: initial;
        margin-right: initial;
      }
    }
    .card-container {
      min-height: 35.3rem;
      flex: 1;
      width: 100%;
      position: relative;
      margin-top: 2rem;
      .card {
        width: 21.875rem;
        height: 15.625rem;
        position: absolute;
        p {
          margin-top: 0.6rem;
        }
        img {
          width: 4rem;
          height: 4rem;
        }
      }
      .card::after {
        height: 1.6%;
      }
      .supervisor-card {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      .team-card {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      .karma-card {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      .calculator-card {
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  footer {
    margin-bottom: initial;
    padding: 0.625rem;
    position: relative;
    min-width: 8rem;
    min-height: 3.2rem;
    p {
      margin-bottom: 1rem;
      span {
        white-space: nowrap;
      }
      span:nth-child(1) {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      span:nth-child(2) {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      span:nth-child(3) {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      span:nth-child(4) {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
